:root {
  --me-cyan: rgb(0,174,239);
  --me-magenta: rgb(236,0,140);
  --me yellow: rgb(255,242,0);
  --me-gray: rgb(128,128,128);
  --me-black: rgb(0,0,0);
  }

body {
  font-size: 1rem;
  font-family: courier, 'courier new', monospace;
  }

img {
  max-width: 100%;
  margin: 2rem auto;
  }

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 1fr 1fr;
  grid-gap: 0.5rem;
  margin: 0 4vw;
  }


@media screen and (min-width: 720px) {
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr;
  grid-gap: 3rem 3rem;
  margin: 0 2rem;
  }
}

/* nav,
header { align-self: center; } */

header h1 {
  font-size: 1rem;
  /* border-bottom: 2px dashed var(--me-black); */
  display: inline;
  padding-bottom: 0.3rem;
  margin: 1rem 0;
  text-transform: uppercase;
  }

nav ul {
  list-style: none;
  text-indent: 0;
  padding: 0;
  display: flex;
  margin: 1rem 0;
  /* border-bottom: 2px dashed var(--me-black); */
  padding-bottom: 0.3rem;
}

nav ul ul {
  display: block;
}


nav li {
  margin-left: 1.2rem;
  text-transform: uppercase;
}

/* nav li:first-child {
  margin-left: 0;
} */

/* nav ul ul {
  list-style: none;
  display: block;
  margin: 0;
}

nav ul ul li {
  display: block;
  margin: 0;
} */

nav a {
  font-size: 1rem;
  color: var(--me-black);
  text-decoration: none;
  font-weight: 700;
}

nav #subwork a {
  color: var(--me-gray);
}

nav a.active {
  color: var(--me-magenta);
}

nav a:hover,
nav #subwork a:hover {
  color: var(--me-cyan);
}

.navinit {
  display: none;
}

.navshow {
  display: block;
  z-index: 40;
  background: white;
  position: relative;
}

.wtext h2 {
  font-size: 1rem;
  color: var(--me-cyan);
  text-transform: uppercase;
}

.wtext h3 {
  font-size: 0.75rem;
  color: var(--me-gray);
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
}

.wtext p {
  max-width: 65ch;
  font-size: 0.9rem;
  line-height: 1.2;
  font-weight: 600;
  }
