<script type="text/javascript">
function navLoad() {
  function toggle() {
    var el = document.getElementById('subwork');
    if (el.className === 'navshow') el.className = 'navinit';
    else el.className = 'navshow';
    }
    function toggle2() {
      var el = document.getElementById('subcon');
      if (el.className === 'navshow') el.className = 'navinit';
      else el.className = 'navshow';
      }
      function toggle3() {
        var el = document.getElementById('subabout');
        if (el.className === 'navshow') el.className = 'navinit';
        else el.className = 'navshow';
        }
        function toggle4(ev) {
          ev.preventDefault();
          var el = document.getElementById('moretext');
          if (el.className === 'showit') el.className = 'hideit';
          else el.className = 'showit';
          }

document.querySelector('#worknav').addEventListener('click', toggle, false);
document.querySelector('#connav').addEventListener('click', toggle2, false);
document.querySelector('#aboutnav').addEventListener('click', toggle3, false);
document.querySelector('#more').addEventListener('click', toggle4, false);

}

document.addEventListener('DOMContentLoaded', navLoad, false);
</script>
