<script type="text/javascript">
function navLoad() {
  function toggle(snn) {
    var el = document.getElementById(snn);
    if (el.className === 'navshow') el.className = 'navinit';
      else el.className = 'navshow';
  }

  function toggle4(ev) {
    ev.preventDefault();
    var el = document.getElementById('moretext');
    if (el.className === 'showit') el.className = 'hideit';
      else el.className = 'showit';
    document.getElementById('more').className = 'hideit';
  }

document.querySelector('#worknav')
  .addEventListener('click', function(){toggle('subwork')}, false);
document.querySelector('#connav')
  .addEventListener('click', function(){toggle('subcon')}, false);
document.querySelector('#aboutnav')
  .addEventListener('click', function(){toggle('subabout')}, false);
document.querySelector('#more')
  .addEventListener('click', toggle4, false);
}

document.addEventListener('DOMContentLoaded', navLoad, false);
</script>
