<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} + {{ site.title }}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="main">
  <header>
    <h1>{{ site.title }}</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/work" class="active">Work</a>
        <ul>
          <li><a href="/work/aiga">01 AIGA</a></li>
          <li><a href="/work/afs">02 AUSTIN FILM SOCIETY</a></li>
          <li><a href="/work/criterion">03 THE CRITERION COLLECTION</a></li>
          <li><a href="/work/chronicle">04 CHRONICLE BOOKS</a></li>
          <li><a href="/work/hulu">05 HULU</a></li>
          <li><a href="/work/mark">06 MARK SKATEBOARDS</a></li>
          <li><a href="/work/writers">07 TEXAS WRITERS MONTH</a></li>
          <li><a href="/work/wfm">08 WHOLE FOODS MARKET</a></li>
          <li><a href="/work/utsoa">09 UNIVERSITY OF TEXAS SCHOOL OF ARCHITECTURE</a></li>
          <li><a href="/work/via313">10 VIA313</a></li>
        </ul></li>
      <li><a href="/contact">Contact</a>
        <p><a href="mailto:shaman@marcenglishdesign.com">shaman@marcenglishdesign.com</a><br>
          512.217.9468<br>
          USA</p></li>
    </ul>
  </nav>

  <section class="wtext">
      <h2>{{ title }}</h2>
      <h3>{{ types }}</h3>
      {{ content | safe }}
  </section>

  <section class="wimages">
    {% for item in images %}
    <img src="../../images/{{ item.img }}" alt="{{ item.alt }}">
    {% endfor %}
  </section>
  </div>
</body>
</html>
